html {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #222831;
  text-align: center;
  color: #eeeeee;
}

div {
  background-color: #393e46;
  margin-bottom: 50px;
}

p {
  padding-left: 10%;
  padding-right: 10%;
}

.page-wrapper {
  margin: auto;
  width: 70%;
  padding: 5px;
}

h1 {
  font-size: 36pt;
  margin-bottom: 75px;
  text-decoration: underline;
}

h1,h2, h3 {
  font-family: "Lobster", cursive;
  font-weight: 900;
}

footer {
  margin-top: 150px;
}

a:link {
  color: #00adb5;
}

a:hover {
  color: #007980;
}

a:visited {
  color: #001b1d;
}
.sidebar {
  width: 14%;
  margin-left: 90%;
  position: absolute;
  border: 2px solid #222831;
  top: 6px;
  right: 0;
}

.wrapper {
  padding: 5px;
}
